# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.idea

.vscode

build/
cmake-build-debug

CMakeFiles
cmake_install.cmake
CMakeCache.txt
Makefile
cpm-package-lock.cmake
_deps/
CPM_modules/


r-type_server
r-type_client
